POSTGRES_DB=todo
POSTGRES_USERNAME=todo
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=abcedfghijklmnopqrstuvwxyz
RAILS_MASTER_KEY=abcedfghijklmnopqrstuvwxyz
RAILS_ENV=development
